#title {
    background: -webkit-linear-gradient(right, #2B7ABB, #194DDD, #573AA6);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family:Extra-Bold;
    font-size: 30px;
    font-weight: bolder;
}
#explaination {
    font-size: 15px;
}
#mainContent {
    display: flex;
}
#content {
    margin: 23px;
}
@media only screen and (max-width: 650px) {
#title, #explaination {
    display: block;
    text-align: center;
}
}