@import "index.css";
.resilience_button_container {
  width: 380px;
  height: 61px;
  background-color: white;
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.15); /* Figma-like drop shadow */
  border: 2px solid blue; /* Blue border (you can change the color) */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 14px;
  border-width: 0.5px;
  color: #314580;
  font-family: "Bold";
  font-size: 26px;
}
