/* mobile */
@media only screen and (max-width: 900px) {
    .story_item_container_read_less{
        border: 2px   solid rgb(0, 0, 255);
        padding: 20px;
        display: flex;
        flex-direction: column;
        direction: rtl;
        width: fit-content;
        height: 200px;
        border-radius: 10px;
        position: relative;
        width: 200px;
    }
}

/* desktop */
@media only screen and (min-width: 900px) {
    .story_item_container_read_less{
        border: 2px   solid rgb(0, 0, 255);
        padding: 20px;
        display: flex;
        flex-direction: column;
        direction: rtl;
        width: fit-content;
        height: 200px;
        border-radius: 10px;
        position: relative;
        width: 400px;
    }
}
.story_item_header{
    font-size: 26px;
    margin-bottom: 12px;
}
.story_item_name{
    font-weight: 700;
}
.story_item_main_read_less{
display: -webkit-box;
-webkit-box-orient:vertical ;
-webkit-line-clamp: 5;
overflow: hidden;
     
}
.story_item_footer{
    position: absolute;
    bottom: 5%;
    right: 5%;
}
.story_item_footer button{
    border: none;
    background-color: transparent;
    color: blue;
    font-weight: 700;
}
.story_item_container_read_more {
    border: 2px solid rgb(0, 0, 255);
    padding: 20px;
    display: block;
    flex-direction: column;
    direction: rtl;
    width: fit-content;
    width: 95%;
    border-radius: 10px;
    position: relative;

}