.main_support_buttons_container {
  width: 1313px;
  height: 215px;
  display: flex;
  justify-content: space-between; /* Spread items evenly along the main axis */
  align-items: center; /* Center items along the cross axis */
}
